## Student Performance Indicator

### Problem statement
- Understand how the students performance (test scores) is affected by variables such as gender, parental level of education and preparation courses.

### Dataset Source

-  https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977

### Importing libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Importing the data

In [5]:
df = pd.read_csv('data/stud.csv')

In [6]:
#First 5 rows
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
# Dataset shape
df.shape

(1000, 8)

**Data dictionary**

- gender: sex of students (Male/female) 
<br>
- race/ethnicity: ethnicity of students (Group A, B,C, D,E)
<br>
- parental level of education: parents' final education (bachelor's degree,some college,master's degree,associate's degree,high school)
<br>
- lunch: having lunch before test (standard or free/reduced)
<br>
- test preparation course: complete or not complete before test
<br>
- math score
<br>
- reading score
<br>
- writing score

### Data checks to perfom:

- Missing values
- Duplicates
- Data type
- Number of unique values
- Statistics
- Categorical columns

### Missing values

In [9]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

**There are no missing values**